body {
    background-color: black;
}

.letter-box {
    position: absolute;
    top: 25%;
    left: calc(50% - 245px);
    width: 490px;
    height: 22.5vw;
    box-sizing: border-box;
}

.w-left-pos {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid #ff6b57;
}
.w-left-neg {
    position: absolute;
    left: 50px;
    top: 0px;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 65px solid transparent;
    border-top: 150px solid #000;
}

.w-right-pos {
    position: absolute;
    left: 90px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid #ff6b57;
}

.w-right-neg {
    position: absolute;
    left: 140px;
    top: 0px;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 65px solid transparent;
    border-top: 150px solid #000;
}

.a-diag {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #ff6b57;
}

.a-str {
    position: absolute;
    left: 40px;
    top: 140px;
    width: 130px;
    height: 20px;
    background-color: #ff6b57;
}

.a-neg {
    position: absolute;
    width: 0;
    height: 0;
    top: 40px;
    left: 40px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 160px solid black;
}

#W {
    position: absolute;
    z-index: 99;
    width: 290px;
    height: 200px;
}

#W:hover {
    animation-name: w-walk;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

#A {
    z-index: 99;
    position: absolute;
    left: 290px;
    width: 200px;
    height: 200px;
}

#A:hover {
    position: absolute;
    left: 400px;
}

@keyframes w-walk {
  0% {top: 25%;}
  100% {top: -35%;}
}
